/** Custom Styles **/

:root {
	--sl-content-width: 54rem;
	--sl-text-h1: 2rem;
	--sl-text-h2: 1.5rem;
	--sl-text-h3: 1.25rem;
	--sl-text-h4: 1rem;
	--sl-content-pad-x: 1rem;
}

.card-grid {
	/* TODO(@delucis): Upstream this fix to Starlight. `gtc` missing there. */
	grid-template-columns: 100%;
}

@media (min-width: 50rem) {
	.card-grid {
		grid-template-columns: 1fr 1fr;
	}
}

img[alt=household] {
	width: 80%;
}

img[alt=futureExpectations] {
	width: 80%;
}